  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Todo</span>
      <!-- <span class="example-spacer"></span> -->
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container">
    
    <mat-card class="main-contents">
    <mat-card-actions>
        <todo-toolbar></todo-toolbar>
    </mat-card-actions>
    <todo-list></todo-list>

    </mat-card>    
</div>






